.margintop24bottom6 {
  margin-top: 24px;
  margin-bottom: 6px;
}
.padding-6-2 {
  padding: 6px 2px;
}
.padding-18-2 {
  padding: 18px 2px 6px;
}
.image_icon60 {
  width: 60px;
  height: 55px;
  margin: 1px 7px 1px 1px;
}
.bold600 {
  font-weight: 600;
}
.width100 {
  width: 100%;
}
.width50 {
  width: 49%;
}
img.project-image {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 6px 0;
}
.gap2 {
  gap: 2%;
}
